<div ng-controller="SettingsController as settings">
  <div class="modal-body" >

    <a ng-click="showMachine($event)">Show machine configuration</a>
    <div id="_settingstabs">
  
      <ul id="_tabs" class="nav nav-tabs" data-tabs="_tabs">
          <li class="active"><a href="#_settings_general" data-toggle="tab">General</a></li>
          <li><a href="#_settings_mcodes" data-toggle="tab">M3-M9</a></li>
          <li><a href="#_settings_mcodes2" data-toggle="tab">M100-M119</a></li>
          <li><a href="#_settings_userbuttons" data-toggle="tab">User buttons</a></li>
          <li><a href="#_settings_motionparameter" data-toggle="tab">Motion Parameters</a></li>
      </ul>
      <div id="_my-tab-content" class="tab-content">
          <div class="tab-pane active" id="_settings_general">
            <table id='_machine_setup_table' width="100%">
              <tr>
                <th>Name</th>
                <td><input ng-model="machine.name" type="text" placeholder="Name your machine"></td>
              </tr>
              <tr>
                <th>Description</th>
                <td><input ng-model="machine.description" type="text" placeholder="Describe machine"></td>
              </tr>
              <tr>
                <th>Machine dimensions</th>
                <td></td>
              </tr>
              <tr>
                <th>X</th>
                <td><input ng-model="machine.dimX" type="number" min=0 placeholder="mm"/></td>
              </tr>
              <tr>
                <th>Y</th>
                <td><input ng-model='machine.dimY' type="number" min=0 placeholder="mm"></td>
              </tr>
              <tr>
                <th>Z</th>
                <td><input ng-model='machine.dimZ' type="number" min=0 placeholder="mm"></td>
              </tr>  
              <tr>
                <th>Bootstrap program and thread</th>
                <td>
                  <input ng-model='machine.initProgram' type="text" placeholder="Path to c program">
                  <input ng-model='machine.initThread' type="number" min=1 max=7 placeholder="Thread number 1-7">
                </td>
              </tr>
  
            </table>            
          </div>
          <div class="tab-pane" id="_settings_mcodes">
            <kmx-mcode-value 
              ng-repeat="action in machine.actions track by $index" 
              ng-if="action.action != -1">
              </<kmx-mcode-value>
          </div>
          <div class="tab-pane" id="_settings_mcodes2">
            <kmx-mcode-value 
              ng-repeat="action in machine.extendedActions track by $index">
            </<kmx-mcode-value>
          </div>
          
          <div class="tab-pane" id="_settings_userbuttons">
            <div>
              <kmx-mcode-value 
                ng-repeat="action in machine.userActions track by $index" 
                ng-init="userButton = true">
              </kmx-mcode-value> 
            </div>
          </div>
          <div class="tab-pane" id="_settings_motionparameter">
            <div>
              <h3 style=" text-align:center; margin: 15px 5px 5px 5px; font-family:Trebuchet MS;">Trajectory Planner / Axis Settings</h3>
              <table>
                <tr>
                  <th>Break Angle</th>
                  <th>Look Ahead</th>
                  <th>Collinear Tolerance</th>
                  <th>Corner Tolerance</th>
                  <th>Facet Angle</th>
                </tr>
                <tr>
                  <td>degrees</td>
                  <td>seconds</td>
                  <td>inches</td>
                  <td>inches</td>
                  <td>degrees</td>
                </tr>
                <tr>
                  <td><input ng-model="machine.tplanner.breakangle" min="0" type="number" step="any" /></td>
                  <td><input ng-model="machine.tplanner.lookahead" min="0" type="number" step="any" /></td>
                  <td><input ng-model="machine.tplanner.collineartolerance" min="0" type="number" step="any" /></td>
                  <td><input ng-model="machine.tplanner.cornertolerance" min="0" type="number" step="any" /></td>
                  <td><input ng-model="machine.tplanner.facetangle" min="0" type="number" step="any" /></td>
                </tr>
              </table>
            </div>
  
            <div>
              <table>
                <tr>
                  <th>Axis</th>
                  <th>Counts Per Inch</th>
                  <th>Max Accel</th>
                  <th>Max Velocity</th>
                  <th>Jog Velocity</th>
                </tr>
                <tbody ng-repeat="axis in machine.axes">
                  <tr>
                    <td><span ng-bind="axis.name"></span></td>
                    <td><input ng-model="axis.countsPerUnit" min="0" type="number" step="any" /></td>
                    <td><input ng-model="axis.maxAccel" min="0" type="number" step="any" /></td>
                    <td><input ng-model="axis.maxVel" min="0" type="number" step="any" /></td>
                    <td><input ng-model="axis.jogVel" min="0" type="number" step="any" /></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class='btn btn-default' >New machine</button>
    <button type="button" class="btn btn-primary" ng-click="saveMachine($event)">Save</button>
  </div>
</div>
