<file-dialog #fd (selectedFile)="onFile($event)" [resource]="resource"></file-dialog>
<div>
  <span class="glyphButtonBar">
      <span class="btn btn-primary glyphicon glyphicon-folder-open" title="Open" (click)="fd.show()"></span>
      <span class="btn btn-primary glyphicon glyphicon-floppy-save" title="Save" (click)="onSave()"></span>
      <span class="btn btn-primary glyphicon glyphicon-floppy-save" title="Save As" (click)="onSaveAs()"></span>
  </span>
  <ng-content select="div[buttons]"></ng-content>
</div>
<div file-dropzone (dropped)="onFile($event)">
  <span *ngIf="dirty">*</span><file-path [resource]="resource"></file-path>  
  <div class="codeEditor">
    <div aceEditor [mode]="mode" [theme]="theme" [text]="editorContent" (textChanged)="onContentChange($event)" ></div>
  </div>
</div>