<!DOCTYPE html> 
<html lang="en" ng-app="KmotionXApp" ng-strict-di>
<head>
  <meta charset="utf-8">
  <title>KMotionX CNC</title>
  <!--
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  -->
  <link rel="stylesheet" href="vendor/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="vendor/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/switch.css">
  <!-- 3rd party libs -->
  <!-- 
    there is some problem with jqlite in angular
    jquery needs to be loaded before angular to disable jqlite
  -->
  <script src="vendor/jquery/jquery-2.1.4.min.js"></script>        
  <script src="vendor/angularjs/1.4.0/angular.min.js"></script>
  <script src="vendor/angular-typecheck/angular-typecheck.min.js"></script>
  <script src="vendor/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="vendor/threejs/r73/three.min.js"></script>
  
  <!--
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.min.js"></script>
  -->
  
  <!--
  <script src="vendor/mozilla/stringview.js"></script>
  -->
  <script src="vendor/three/TrackballControls.js"></script>
  
  <script src="vendor/opentype/opentype.min.js"></script>

  <script src="vendor/modernizr/modernizr.custom.93389.js"></script>
  
  <script src="vendor/ace/src-min-noconflict/ace.js" charset="utf-8"></script>
  
  <!-- Custom code -->
  
  <script src="js/util/kmx-util.js"></script>
  <script src="js/KmotionXApp.js"></script>
  
  <script src="js/editor/app.editor.js"></script>
  <script src="js/editor/ace.directive.js"></script>
  <script src="js/editor/editor.controller.js"></script>
  <script src="js/editor/file-dropzone.directive.js"></script>  
  <script src="js/module/editor.js"></script>
  
  <script src="js/settings/mcode-value.directive.js"></script>
  <script src="js/settings/settings.controller.js"></script>
  <script src="js/settings/settings.directive.js"></script>
  <script src="js/settings/settings.service.js"></script>
  <script src="js/settings/userButton.controller.js"></script>
  
  <script src="js/log/log.directive.js"></script>
  <script src="js/log/log.service.js"></script>
  
  
  <script src="js/renderer/app.renderer.js"></script>
  
  <script src="js/renderer/gcodeRenderer.service.js"></script>
  <script src="js/renderer/view.directive.js"></script>
  <script src="js/renderer/view.service.js"></script>
  
  <script src="js/backend/app.backend.js"></script>
  <script src="js/backend/socket.service.js"></script>
  <script src="js/backend/shared-types.js"></script>
  <script src="js/backend/kmxBackend.service.js"></script>  
  
  
  <script src="js/laser/laser-calc.js"></script>
  <script src="js/laser/box.js"></script>

  <script src="js/gcode/igm.js"></script>
  <script src="js/gcode/gcode-editor.controller.js"></script>
  <script src="js/gcode/dro-directive.js"></script>
  
  <script src="js/import/app.import.js"></script>
  <script src="js/import/transformer.service.js"></script>
  <script src="js/import/transformer-settings.service.js"></script>
  <script src="js/import/igm2gcode/igm2gcode-transformer.js"></script>
  <script src="js/import/igm2gcode/igm2gcode.js"></script>
  <script src="js/import/svg2igm/svg2igm-transformer.js"></script>
  <script src="js/import/svg2igm/SVGReader.js"></script>
  <script src="js/import/pdf2svg/pdf2svg-transformer.js"></script>
  <script src="js/import/pdf2svg/pdfjs/pdf.js"></script>
  <script src="js/import/gcode2three/gcode2three-transformer.js"></script>
  <script src="js/import/gcode2three/gcode2three.js"></script>
  <!--
  <script src="js/import/gcode2three/gcode-parser.js"></script>
  -->
    
  <script src="js/module/other.js"></script>
  
  


</head>
<body ng-controller="KMotionXController">




<nav class="navbar navbar-default">
  <div class="container-fluid">
  <!-- 
   -->
  
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">KMotionX</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling 
    -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       <ul class="nav navbar-nav">
      <!-- 
      <ul class="nav nav-tabs">
       -->
        <li><a href="#NavGCode" data-toggle="tab">GCode</a></li>
        <li><a href="#NavC" data-toggle="tab">C-programs</a></li>
        <li><a href="#NavSettings" data-toggle="tab">Settings</a></li>
        <li><a href="#NavDebug" data-toggle="tab">Debug</a></li>
        <li><a href="#NavCalc" data-toggle="tab">Calc</a></li>
        <li><a href="javascript:$('#aboutModal').modal();">About</a></li>
        
        <li><a href="#"><label title="Simulation Mode" class="switch red"><input type="checkbox" ng-model="simulating" ng-click="onSimulate()"><i></i></label></a></li>
        <!-- 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#bulle">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
         -->
      </ul>
      <!-- 
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
       -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="tab-content">
  <div class="tab-pane active" id="NavGCode">
    <div class="row  fill">
      <div class="hidden-xs col-md-3">
        <kmx-dro></kmx-dro>
        <kmx-log title="Error log" consoleId="error" color="red"></kmx-log>        
        <kmx-log title="Console" consoleId="console" color="blue"></kmx-log>
      </div>
      <div class="col-xs-9 col-md-6">
        <!-- WebGL rendering area -->
        <div id="renderArea" ng-class="sidebar ? 'bulle' : 'bulle'" three-viewer="kmxThreeViewData" class="threerenderer fill"></div>
        
      </div>
      <div class="col-xs-3 col-md-3">
        <div id="gcc" ng-controller="GCodeEditorController as gcodeEditCtrl" ng-init="currentDir = './gcode/'">
          <div modal-show="showFileModal" class="modal fade">
            <file-modal></file-modal>
          </div>
          <div>
              <div class="btn-toolbar">
                <div class="btn-group btn-group-sm btn-group-justified">
              
                  <!--
                  <label class="switch"><input type="checkbox" ng-model="interpreting"><i></i></label>Interpret
                  -->            
                  <div class="btn btn-primary" ng-class="interpreting ? 'active' : ''" ng-click="gcodeEditCtrl.onCycleStart()"><span class='glyphicon' ng-class="interpreting ? 'glyphicon-pause' : 'glyphicon-play'"></span>{{interpreting ? 'Halt' : 'Cycle Start'}}</div>
                  <div class="btn btn-primary" ng-class="feedHold ? 'active' : ''" ng-click="gcodeEditCtrl.onFeedhold()"><span class='glyphicon' ng-class="feedHold ? 'glyphicon-hourglass' : 'glyphicon-hourglass'"></span>Feed Hold</div>
                </div>
              </div>
              <div class="btn-toolbar">
                <div class="btn-group btn-group-sm btn-group-justified">                  
                  <div class="btn btn-primary" ng-click="gcodeEditCtrl.onEmergencyStop()"><span class='glyphicon glyphicon-remove'></span>E-Stop</div>
                  <div class="btn btn-primary" ng-click="gcodeEditCtrl.onStep()"><span class='glyphicon glyphicon-step-forward'></span>Step</div>
                  <div class="btn btn-primary" ng-click="gcodeEditCtrl.onReset()"><span class='glyphicon glyphicon-fast-backward'></span>Reset</div>
                </div>
              </div>
            <div ng-bind="gcodeEditCtrl.editorLine"></div>
            <div ng-bind="gcodeEditCtrl.currentLine"></div>
          </div>
          <div file-dropzone="" transform-fn="transform(mime,data)" file-content="editorContent" file-name="editorContentName" >      
            <div>
              <input ng-model="currentDir"/>
              <input ng-model="editorContentName"/>
              <span class="glyphButtonBar">
                <span class="btn btn-primary glyphicon glyphicon-folder-open" title="Open" ng-click="listFiles(currentDir)"></span>
                <span class="btn btn-primary glyphicon glyphicon-floppy-save" title="Save" ng-click="save()"></span>
              </span>
            </div>
            <kmx-ace id="gcodeEditor" ng-model="editorContent" mode="gcode" ></kmx-ace>
          </div>
        </div>
        
        <!--
        -->
        <hr>      
        <div ng-controller="UserButtonController as buttons">
            <button 
              ng-repeat="action in machine.userActions track by $index"
              ng-show="action.action > 0" 
              class='btn btn-primary btn-grid' 
              ng-click="onUserButton($index, action)" 
              ng-bind="action.name || '[Unnamed]'">
           </button>
        </div>
      </div>
    </div>  
  </div><!-- /NavGCode -->
  <div class="tab-pane" id="NavC">
  
      <div ng-controller="EditorController as ceditCtrl" ng-init="currentDir = './c-programs/'">
        <div modal-show="showFileModal" class="modal fade">
          <file-modal></file-modal>
        </div>
        <div file-dropzone="" file-content="editorContent" file-name="editorContentName" >      
          <div>
            <input ng-model="currentDir"/>
            <input ng-model="editorContentName"/>
            <span  class="glyphButtonBar">
              <span class="btn btn-primary glyphicon glyphicon-folder-open" title="Open" ng-click="listFiles(currentDir)"></span>
              <span class="btn btn-primary glyphicon glyphicon-floppy-save" title="Save" ng-click="save()"></span>
            </span>
          </div>
          <kmx-ace id="ceditor" ng-model="editorContent" mode="c_cpp" ></kmx-ace>
        </div>      
     </div>  
  
  </div><!-- /NavC -->
  <div class="tab-pane" id="NavDebug">
    <!-- 
    <div id="sidebar" ng-class="sidebar ? 'affix' : 'hidden'">
     -->
      <kmx-log title="Status log" consoleId="status" color="green"></kmx-log>
      <kmx-log title="Raw communication" consoleId="output"></kmx-log>
      
    <!-- 
    </div>  
     -->
  </div><!-- /NavDebug -->

  <div class="tab-pane" id="NavCalc">
      <laser-plugin></laser-plugin>
  </div><!-- /NavDebug -->
  
  <div class="tab-pane container" id="NavSettings">
    <kmx-settings></kmx-settings>
  </div><!-- /NavSettings -->
</div>




    <!-- 'About' dialog'-->
  <div class="modal fade" id="aboutModal" style="display: none">
    <div class="modal-dialog">
      <div class="modal-content">    
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3>About KMotionX CNC</h3>
        </div>
        <div class="modal-body">
          <p>This is a web application to control <a href="http://www.dynomotion.com" target="_new">Dynomotions</a>
           CNC controllers</p>
  
          <p>TODO </p>
  
        </div>
        <div class="modal-footer">
          <a class="btn btn-primary" data-dismiss="modal">OK</a>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>
