/bin
config.h
config.mak
*~
~*
*.out
*.nm
*.suo
*.orig
*.ilk
*.pdb
*.hex
*.pyc
.pl_persist
/**/*.prefs
/**/*.project
/**/*.cproject
/**/.settings/
KMotionX/examples/webgui/build
python/win/Debug
python/win/Release
python/build
KMotion*/Debug
KMotion*/Release
GCodeInterpreter/Debug
GCodeInterpreter/Release
KMotionX/KMotionXCNC/server/build

