<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Chip.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <Chip.My.MySettings>
      <setting name="Main_View" serializeAs="String">
        <value />
      </setting>
      <setting name="Last_G_Code_File" serializeAs="String">
        <value />
      </setting>
      <setting name="Canvas_View" serializeAs="String">
        <value />
      </setting>
      <setting name="Grid_Font" serializeAs="String">
        <value />
      </setting>
      <setting name="Editor_View" serializeAs="String">
        <value />
      </setting>
      <setting name="Symbol_Edit_View" serializeAs="String">
        <value />
      </setting>
      <setting name="dlg_Symbols" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera_Cross" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Camera_X_Cross" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Camera_Circle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Camera_Radius" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Camera_Left" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Camera_Top" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Camera_Width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Camera_Height" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Camera_Color" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera_Units_Per_Pixel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Trace_Filter" serializeAs="String">
        <value />
      </setting>
      <setting name="Com_Port" serializeAs="String">
        <value />
      </setting>
      <setting name="Abs_X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Abs_Y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Abs_Z" serializeAs="String">
        <value>0</value>
      </setting>
    </Chip.My.MySettings>
  </userSettings>
</configuration>