{"name":"machine","description":"","dimX":"0","dimY":"0","dimZ":"0","initProgram":"/Users/parhansson/git/KMotionX/KMotionX/examples/webgui/site/settings/laser.c","initThread":1,"axes":[{"name":"X","countsPerUnit":2540,"maxAccel":15.4,"maxVel":1},{"name":"Y","countsPerUnit":2540,"maxAccel":13.5,"maxVel":1},{"name":"Z","countsPerUnit":2540,"maxAccel":17.7,"maxVel":1},{"name":"A","countsPerUnit":1000,"maxAccel":1,"maxVel":1},{"name":"B","countsPerUnit":1000,"maxAccel":1,"maxVel":1},{"name":"C","countsPerUnit":1000,"maxAccel":null,"maxVel":null}],"tplanner":{"breakangle":"20","lookahead":"1","collineartolerance":"3","cornertolerance":"4","facetangle":"5"},"actions":[]}