<div ng-controller="LaserCalculatorController">

        <table width="50%">
            <tr>
              <th>Pulse Width:</th>
              <td><input ng-model="calc.pulseWidth" type="number" min=0 max=100 placeholder="Pulse length">ms</td>
            </tr>
            <tr>
              <th>PPI:</th>
              <td><input ng-model="calc.ppi" type="number" min=0 max=5000 placeholder="PPI">pulses/inch</td>
            </tr>
            <tr>
              <th>Feed Rate:</th>
              <td><input ng-model="calc.feedRate" type="number" min=0 max=10000 placeholder="Feed rate mm/min">mm/min</td>
            </tr>
            <tr>
              <th>Power Setting:</th>
              <td><input ng-model="calc.powerSetting" type="number" min=0 max=100 placeholder="%"/>%</td>
            </tr>
            <tr>
              <th>Ave Power/Pulse:</th>
              <td><input ng-model='calc.power' type="number" min=0 max=500 placeholder="W">W</td>
            </tr>
            
            <tr>
              <th>PPmm:</th>
              <td><span ng-bind="result.ppmm | number : 4"></span> pulses/mm</td>
            </tr>
            <tr>
              <th>PPs:</th>
              <td><span ng-bind="result.pps | number : 4"></span> pulses/s</td>
            </tr>
            <tr>
              <th>Pulse Period:</th>
              <td><span ng-class="result.pulsePeriod <= calc.pulseWidth?'alert-danger':''" ng-bind="result.pulsePeriod | number : 4"></span> ms/pulse</td>
            </tr>
            <tr>
              <th>Duty Cycle</th>
              <td><span ng-class="result.dutyCycle > 100?'alert-danger':''" ng-bind="result.dutyCycle | number : 4"></span> %</td>
            </tr>
            <tr>
              <th>~Energy/pulse</th>
              <td><span ng-bind="result.energyPerPulse | number : 4"></span> Joules/pulse</td>
            </tr>
            <tr>
              <th>Cut Energy Density</th>
              <td><span ng-bind="result.energyDensity | number : 4"></span> Joules/mm cut</td>
            </tr>
            <tr>
              <th>Power to Material</th>
              <td><span ng-bind="result.powerToMaterial | number : 4"></span> W</td>
            </tr>
            
          </table>  
  
</div>        