<!DOCTYPE html> 
<html lang="en" ng-app="KmotionXApp">
<head>
  <meta charset="utf-8">
  <title>KMotionX CNC</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <link rel="stylesheet" type="text/css" href="css/style.css">

  <!-- 3rd party libs -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>        
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r69/three.js"></script>
  
  <script type="text/javascript" src="vendor/three/TrackballControls.js"></script>

  <script type="text/javascript" src="vendor/modernizr/modernizr.custom.93389.js"></script>
  
  <script type="text/javascript" src="vendor/gcode-simulator/svg2gcode.js"></script>
  <script type="text/javascript" src="vendor/gcode-simulator/SVGReader.js"></script>
  <script type="text/javascript" src="vendor/gcode-simulator/vec2.js"></script>
  <script type="text/javascript" src="vendor/ace/src-min-noconflict/ace.js" charset="utf-8"></script>
  
  <!-- Custom code -->
  <script type="text/javascript" src="js/module/editor.js"></script>
  <script type="text/javascript" src="js/module/gcode.js"></script>
  <script type="text/javascript" src="js/module/machine-settings.js"></script>
  <script type="text/javascript" src="js/module/websocket.js"></script>
  <script type="text/javascript" src="js/module/viewer.js"></script>
  <script type="text/javascript" src="js/module/other.js"></script>
  <script type="text/javascript" src="js/KmotionXApp.js"></script>
  <script type="text/javascript" src="js/box.js"></script>
  <script type="text/javascript" src="js/components.js"></script>
  <script type="text/javascript" src="js/operation.js"></script>
  <script type="text/javascript" src="js/ui.js"></script>

</head>
<body ng-controller="KMotionXController as kmx">




<nav class="navbar navbar-default">
  <div class="container-fluid">
  <!-- 
   -->
  
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">KMotionX</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling 
    -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       <ul class="nav navbar-nav">
      <!-- 
      <ul class="nav nav-tabs">
       -->
        <li><a href="#NavGCode" data-toggle="tab">GCode</a></li>
        <li><a href="#NavC" data-toggle="tab">C-programs</a></li>
        <li><a href="#NavSettings" data-toggle="tab">Settings</a></li>
        <li><a href="#NavDebug" data-toggle="tab">Debug</a></li>
        <!-- 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#bulle">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
         -->
      </ul>
      <!-- 
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
       -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="tab-content">
  <div class="tab-pane active" id="NavGCode">
    <div class="row  fill">
      <div class="hidden-xs col-md-3">
         
        <div><button class="btn btn_wide" id="error_log_btn">Error log (Clear)</button></div>
        <div id="error" class="status_message" title="Error status"></div>
    
        <div><button class="btn btn_wide" id="console_log_btn">Console (Clear)</button></div>
        <div id="console" class="status_message" title="Console"></div>
             
      </div>
      <div class="col-xs-9 col-md-6">
        <!-- WebGL rendering area -->
        <div id="renderArea" ng-class="sidebar ? 'bulle' : 'bulle'" three-viewer="viewer3d.view" class="threerenderer fill"></div>
        
      </div>
      <div class="col-xs-3 col-md-3">
        <div id="gcc" ng-controller="GCodeEditorController as gcode" ng-init="currentDir = './gcode/'">
            <div>
              <button class="btn" ng-click="interpret()" ng-class="interpreting ? 'btn_down' : ''">Execute GCode</button>
              <button class='btn' ng-click="simulate()" ng-class="simulating ? 'btn_down' : ''">Simulate</button>
            </div>
            <div modal-show="showFileModal" class="modal fade">
              <file-modal></file-modal>
            </div>
            <div file-dropzone="" transform-fn="transform(mime,data)" file-content="codeEditor.content" file-name="codeEditor.contentName" >      
              <div>
                <input ng-model="currentDir"/>
                <input ng-model="codeEditor.contentName"/>
                <span  class="glyphButtonBar">
                  <span class="btn glyphicon glyphicon-folder-open" title="Open" ng-click="listFiles(currentDir)"></span>
                  <span class="btn glyphicon glyphicon-floppy-save" title="Save" ng-click="save()"></span>
                </span>
              </div>
              <ace id="gcodeEditor" editor="codeEditor.editor" ng-model="codeEditor.content" mode="gcode" ></ace>
            </div>
        </div>
    
        <div>
            <button class='btn btn-grid' id='about-btn'>About</button>
            <button class='btn btn-grid' id='init_machine_btn'>Init Machine</button>
            <button class='btn btn-grid' ng-click="$parent.sidebar = !$parent.sidebar">Log</button>
            <button class='btn btn-grid' id='feed_hold_btn'>Feed Hold</button>
            <button class='btn btn-grid' id=''>Available</button>
            <button class='btn btn-grid' id='edit_machine_btn'>Settings</button>
        </div>
    
        <div ng-controller="UserButtonController as buttons">
          <div ng-repeat="action in machine.userActions" ng-if="action.action > 0">
            <button class='btn btn-grid' ng-click="onUserButton(action)" ng-bind="action.name || '[Unnamed]'">&nbsp;</button>
          </div>
        </div>      
      </div>
    </div>  
  </div><!-- /NavGCode -->
  <div class="tab-pane" id="NavC">
  
      <div id="ccc" ng-controller="CCodeEditorController as ccode" ng-init="currentDir = './c-programs/'">
          <div modal-show="showFileModal" class="modal fade">
            <file-modal></file-modal>
          </div>
        <div file-dropzone="" file-content="codeEditor.content" file-name="codeEditor.contentName" >      
          <div>
            <input ng-model="codeEditor.contentName"/>
            <span  class="glyphButtonBar">
              <span class="btn glyphicon glyphicon-folder-open" title="Open" ng-click="listFiles(currentDir)"></span>
              <span class="btn glyphicon glyphicon-floppy-save" title="Save" ng-click="save()"></span>
            </span>
          </div>
          <ace id="ceditor" editor="codeEditor.editor" ng-model="codeEditor.content" mode="c_cpp" ></ace>
        </div>      
     </div>  
  
  </div><!-- /NavC -->
  <div class="tab-pane" id="NavDebug">
    <!-- 
    <div id="sidebar" ng-class="sidebar ? 'affix' : 'hidden'">
     -->
      <button class="btn btn_wide" id="status_log_btn">Status log (Clear)</button>
      <div id="status" class="status_message status_small" title="Interpreter status log"></div>
      
      <button class="btn btn_wide" id="raw_log_btn">Raw communication (Clear)</button>
      <div id="output" class="status_message status_small" title="Raw communication"></div>
    <!-- 
    </div>  
     -->
  </div><!-- /NavDebug -->
  <div class="tab-pane" id="NavSettings">
  
    <div class="_modal" id="settingsModal" ng-controller="SettingsController as settings">
      <div class="_modal-dialog">
        <div class="modal-content">   
          <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h4>Settings</h4>
          </div>
          <div class="modal-body" >
            <settings></settings>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class='btn btn-default' id='new_machine_btn'>New machine</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveMachine($event)">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /NavSettings -->
</div>




    <!-- 'About' dialog'-->
  <div class="modal fade" id="aboutModal" style="display: none">
    <div class="modal-dialog">
      <div class="modal-content">    
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3>About KMotionX CNC</h3>
        </div>
        <div class="modal-body">
          <p>This is a web application to control <a href="http://www.dynomotion.com" target="_new">Dynomotions</a>
           CNC controllers</p>
  
          <p>TODO </p>
  
        </div>
        <div class="modal-footer">
          <a class="btn btn-primary" data-dismiss="modal">OK</a>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>
