<div class="row  fill">
  <div class="hidden-xs col-md-3">
    <kmx-dro></kmx-dro>
    <kmx-log title="Error log" consoleId="error" color="red"></kmx-log>
    <kmx-log title="Console" consoleId="console" color="blue"></kmx-log>
  </div>
  <div class="col-xs-9 col-md-6">
    <!-- WebGL rendering area -->
    <!--
    -->
    <three-viewer #tv id="renderArea" style="display:block" three-viewe2r="kmx.kmxThreeViewData" class="threerenderer fill"></three-viewer>

  </div>
  <div class="col-xs-3 col-md-3">
    <div id="gcc">
      <file-dialog #fd (selectedFile)="onOpenFile($event)" dir="./gcode"></file-dialog>
      <div>
        <div class="btn-toolbar">
          <div class="btn-group btn-group-sm btn-group-justified">
            <div *ngIf="intStatus.interpreting" class="btn btn-primary active" (click)="onCycleStart()"><span class='glyphicon glyphicon-pause'></span>Halt</div>
            <div *ngIf="!intStatus.interpreting" class="btn btn-primary" (click)="onCycleStart()"><span class='glyphicon glyphicon-play'></span>Cycle Start</div>
            <div class="btn btn-primary" ng-class="intStatus.feedHold ? 'active' : ''" (click)="onFeedhold()"><span class='glyphicon'></span>Feed Hold</div>
          </div>
        </div>
        <div class="btn-toolbar">
          <div class="btn-group btn-group-sm btn-group-justified">
            <div class="btn btn-danger" (click)="onEmergencyStop()"><span class='glyphicon glyphicon-remove'></span>E-Stop</div>
            <div class="btn btn-primary" (click)="onStep()"><span class='glyphicon glyphicon-step-forward'></span>Step</div>
            <div class="btn btn-primary" (click)="onReset()"><span class='glyphicon glyphicon-fast-backward'></span>Reset</div>
          </div>
        </div>
        <div>Editor line:{{intStatus.currentLine +1}}</div>
        <div>Interpreter line:{{intStatus.currentLine}}</div>
      </div>
      <div file-dropzone="" transform-fn="transform(mime,data)" file-content="editorContent" file-name="editorContentName">
        <div>
          <input [(ngModel)]="fd.currentDir" />
          <input [ngModel]="fd.currentFile" />
          <span class="glyphButtonBar">
                <span class="btn btn-primary glyphicon glyphicon-folder-open" title="Open" (click)="fd.toggle()"></span>
          <span class="btn btn-primary glyphicon glyphicon-floppy-save" title="Save" ng-click="save()"></span>
          </span>
        </div>
        <div style="width:400px;height:300px;background-color:#f0f0f0">
          <div aceEditor id="editor" ng-model="editorContent" [text]="gcodetext" mode="gcode"></div>
        </div>
      </div>
    </div>

    <!--
        -->
    <hr>
    <user-defined-buttons></user-defined-buttons>
  </div>
</div>