<div class="form">
  <div class="row col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="form-group">
      <label>Width</label>
      <div class="input-group">
        <input class="form-control" [(ngModel)]="box.width" type="number" min=0 max=1000 placeholder="Box width X">
        <span class="input-group-addon">mm</span>
      </div>
    </div>
    <div class="form-group">
      <label>Height</label>
      <div class="input-group">
        <input class="form-control" [(ngModel)]="box.height" type="number" min=0 max=1000 placeholder="Box height Y">
        <span class="input-group-addon">mm</span>
      </div>
    </div>
    <div class="form-group">
      <label>Depth</label>
      <div class="input-group">
        <input class="form-control" [(ngModel)]="box.depth" type="number" min=0 max=1000 placeholder="Box depth Z">
        <span class="input-group-addon">mm</span>
      </div>

    </div>
    <div class="form-group">
      <label>Thickness of material</label>
      <div class="input-group">
        <input class="form-control" [(ngModel)]="box.materialThickness" type="number" min=0 max=100 placeholder="Material thickness"
        />
        <span class="input-group-addon">mm</span>
      </div>
    </div>
    <button (click)="render()">Create</button>

  </div>
  <div #preview></div>
</div>