<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/KMotionJNI/examples/com/dynomotion/kmotionx/viewer/GCodeViewer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="KMOTION_BIN" value="${project_loc:/KMotionJNI}/../bin"/>
<mapEntry key="KMOTIONX_HOME" value="${project_loc:/KMotionJNI}/.."/>
</mapAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.dynomotion.kmotionx.viewer.GCodeViewer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="KMotionJNI"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.library.path=${project_loc:/KMotionJNI}/../bin"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${project_loc:/KMotionJNI}/../bin"/>
</launchConfiguration>
