
.ace_gutter-active-line::before {
  font-family: 'Glyphicons Halflings';
  content:"\e072";
}

.dro-display {
    background-color: #949782;
    color: #000000;
    /*font-size: 32px;*/
}
  /*
  #sidebar.affix-top {
    position: static;
    margin-top:30px;
    width:350px;
    background-color: #EEEEEE;
    z-index: 5000;
  }
  */
  #sidebar.affix {
    position: fixed;
    top:70px;
    width:350px;
    background-color: #EEEEEE;
    z-index: 5000;
  }
  #sidebar.hidden {
    display: none;
  }

.threerenderer {
    background-color: #EEEEEE;
    height: 600px;
    display: block;
}

.fill { 
    min-height: 100%;
}
/* machine mcode styles*/
.mcode-input label {
    min-width: 30px;    
}

#machine_setup {
    position: fixed;
    top: 0;
    bottom: 0;
    /*100%;*/
    left: 0px;
    display: block;
    border-left: 5px solid #bcd;
    border-right: 5px solid #bcd;
    background-color: rgba(250,250,250,0.95);
    padding: 5px;
    color: #030;
    overflow: scroll;
}

.glyphButtonBar {
    font-size: 1.5em;
    color: #abd;
}

.btn-primary.active, .btn-primary:active {
    background-color: #bbe;       
    border-color: #245580;
  /*background-color: #dbd;*/
  /*background-image: linear-gradient(to bottom,#9ac 0, #dbd 100%);*/
}


.btn-grid {
    width:32%;
    margin-top:2px;
    margin-bottom: 2px;
}

div.status {
    color:green
}

div.output {
    color:black
}
div.error {
    color:red
}
div.console {
    color:blue;
    
}
.log-post > .outgoing::before{
    content:"SENT: ";
    color:green;
}
.log-post > .incomming::before{
    content:"RECEIVED: ";
    color:blue;
}

.log-post > .error::before{
    content:"ERROR: ";
    color:red;
}
.log-post > .info::before{
    content:"INFO: ";
    color:black;
}

.status_message {
    width: 100%;
    height: 100px;
    padding: 3px;
    margin-bottom: 3px;
    border: 1px solid #9ac;
    overflow: scroll;
}

.status_small {
    font-size: 8px;
}

.modal-file-list {
    height: 300px;
    width: 97%;
    padding: 3px;
    margin-bottom: 3px;
    border: 1px solid #79f;
    font-size: 12px;
    color: #753;
    white-space: pre;
    word-wrap: normal;
    overflow-x: scroll;
    cursor: pointer;
}

.well {
  background: #ffffff;
}
.settings-header {
  font-family:Trebuchet MS;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

/*ace editor*/

#ccodeEditor .codeEditor{
  height: 80vh;
}

#gcodeEditor .codeEditor {
    width:400px;
    height:300px;
}
